<form action="/" method="POST">
  <div>
    <label>Movie Title:</label>
    <input type="text" name="title" placeholder="Enter title">
  </div>
  <div>
    <label>Movie Review:</label>
    <textarea name="content" placeholder="Your Review!"></textarea>
  </div>
  <div>
    <label>Movie Rating:</label>
    <input type="text" name="rate" placeholder="Enter Movie Rating">
  </div>
  <div>
  <div>
    <label>Trailer link:</label>
    <input type="text" name="movie_link" placeholder="Enter Movie Trailer">
  </div>
    <input type="submit" value="Save Review">
  </div>
</form>
