*{
	border: 2px solid black;
}
h1 {
	color: red;
}
p {
	color: blue;
	font-size: 20px;
}

.special {
	text-decoration: underline;
	color: blue;
}

#name {
	font-weight: bold;
}
/*
#boring {
	text-decoration: none;
}
*/
li.special {
	color: pink;
}

ul li {
	font-size: 40px;
}
body {
	color: green;
}

section:nth-child(2) {
	background-color: grey;
}
/*Layout */

header {
	border: 2px solid purple;
}

main {
	border: 2px solid orange;
}

aside {
	background-color: red;
	width: 200px;
	height: 500px;
	display: inline-block;
}

footer {
	border: 2px solid yellow; 
	display: inline-block;
	width: 100%;
}

section {
	padding: 20px;
	margin: 20px;
	width: 400px;
	height: 250px;
	display: inline-block;
	float: left;
}