<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title class="title">IMDB Movie Blog</title>
	</head>
	<body>
		<%= erb(:"partials/navigations", :layout => false) %>
		<%= yield %>
	</body>
</html>